---
import Footer from "../components/Footer.astro"
import Layoult from "../components/Layout.astro"
---

<Layoult pageTitle="Home" pageDescription="Mejor lugar en donde llevar tu iPhone o PC, actualización de apps, desbloqueo y más" pageImg="./img/logo.webp">
	<section class="hero">
		<div class="hero-1">
			<h1>TechStation</h1>
			<p>Copia, restaura, desbloquea y mas en TechStation. Lugar dedicado a la gestion de su dispositivo iPhone y a Computadoras Windows</p>
		</div>

		<div class="hero-2">

		</div>
	</section>
</Layoult>

<Footer/>